<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteBase /nerdygadgets/

   RewriteRule ^/index\.php$ - [L,NC]

   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule . index.php [L]
</IfModule>

<IfModule mod_deflate.c>
    <filesMatch "\.(js|css|html|php)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</IfModule>

<IfModule mod_headers.c>
  <filesMatch ".(jpg|jpeg|png)$">
    Header set Cache-Control "max-age=2678400, public"
  </filesMatch>
  <filesMatch ".(css|js|html)$">
    Header set Cache-Control "max-age=1209600, public"
  </filesMatch>
</IfModule>